// Text
.main-content {
    text-align: justify !important;
}

//Headings
h1,
.text-alpha {
  font-weight: 300;
  @include fs-8;
}

h2,
.text-beta {
  @include fs-6;
  &::after {
    content:' ';
    display:block;
    border:1px solid #ffba00;
  }
}