// Text
.main-content {
    text-align: justify !important;
}

//Headings
h1,
.text-alpha {
  font-weight: 300;

  @include fs-8;
}

h2,
.text-beta {
    border-bottom:1px solid $jb2a_yellow-000;
    padding-bottom:3px;

    @include fs-6;
}

h3,
.text-gamma {
  color: $jb2a_yellow-000;

  @include fs-5;
}

h4,
.text-delta {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $jb2a_orange-000;
  @include fs-2;
}

//Search
.search-label {
  .search-icon {
    color: $jb2a_orange-300;
  }
}

.search-result {
  display: block;
  padding: $sp-1 $sp-3;

  &:hover,
  &.active {
    background-color: $feedback-color
  }
}

.search-result-section {
  color: $body-text-color
}

.search-result-doc {

  &.search-result-doc-parent {
    opacity: 1;
    text-transform: uppercase;
    color: $link-color
  }

  .search-result-icon {
    color: $link-color
  }
}

.search-result-rel-url {
  color: $nav-child-link-color;
  @include fs-1
}

.search-result-previews {
  color: $search-result-preview-color;
  border-left-color: $border-color;
}

.search-result-highlight {
  color: $nav-child-link-color;
  font-weight: bold
}

//Search Button

.search-button {
  position: fixed;
  right: $sp-4;
  bottom: $sp-4;
  display: flex;
  width: $sp-9;
  height: $sp-9;
  background-color: $search-background-color;
  border: 1px solid rgba($jb2a_grey-300, 1);
  border-radius: #{$sp-2 * 0.5};
  box-shadow:
    0 1px 2px rgba(0, 0, 0, .75),
    0 3px 10px rgba(0, 0, 0, .75);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 2px rgba($jb2a_yellow-300, 1);
  }

  &:hover {
    text-decoration: none;
    background-color: darken($base-button-color, .05%);
  }
}

//Collapsible Block

details > summary {
//  list-style-type: '▶️';
color: $jb2a_yellow-000
}

// details[open] > summary {
//   list-style-type: '🔽';
// }

// Site Title and Button

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($jb2a_yellow-000, 1) 0%,
    rgba($jb2a_yellow-000, 0.8) 80%,
    rgba($jb2a_yellow-000, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
    rgba($feedback-color, 0) 100%
  );
}

// Button Colors

.btn-yellow {
  @include btn-color($jb2a_yellow-000, $jb2a_grey-000);
}

// Buttons

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.3em 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: $link-color;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  background-color: $base-button-color;
  border-width: 0;
  border-radius: $border-radius;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, .33),
    0 3px 10px rgba(0, 0, 0, .33);
  appearance: none;

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 2px rgba($jb2a_yellow-000, 0.25);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: 0 0 0 2px rgba($jb2a_yellow-000, 1);
  }

  &:hover,
  &.zeroclipboard-is-hover {
    color: darken($link-color, 1%);
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    text-decoration: none;
    background-color: darken($base-button-color, 100%);
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: darken($base-button-color, 3%);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 10%);
  }

  &.selected:hover {
    background-color: darken(#dcdcdc, 5%);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: rgba(102, 102, 102, 0.5);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      box-shadow: none;
    }
  }
}