$jb2a_grey-000: #141414;
$jb2a_grey-100: #212121;
$jb2a_grey-200: #313131;
$jb2a_grey-300: #414141;

$jb2a_orange-000: #e3621f;
$jb2a_orange-100: #cc6127;
$jb2a_orange-200: #ad5b2f;
$jb2a_orange-300: #8f5232;

$jb2a_yellow-000: #ffba00;
$jb2a_yellow-100: #dfa812;
$jb2a_yellow-200: #cf9f19;
$jb2a_yellow-300: #be9627;

$jb2a_white-000: #dfdfdf;
$jb2a_white-100: #dfdfdf;
$jb2a_white-200: #dfdfdf;
$jb2a_white-300: #dfdfdf;

