@import "./color_schemes/dark";

// Colors
$link-color: #ffba00;
$body-background-color: #212121;
$body-text-color: #cacaca;
$sidebar-color: #141414;

// Text
.main-content {
    text-align: justify !important;
  }